
.header{
    background-color: #D2B48C;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header .rightContent{
    margin-left: auto;
    display: flex;
    gap: 25px;
    margin-right: 10px;
    align-content: baseline;
}

.header .leftContent{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

.header p{
 font-family: 'Open Sans', sans-serif;
color : var(--global-background-color);
font-size: 23px;
}

.header h2{
    font-family: 'Cormorant Garamond', serif;
    color: var(--global-background-color);
    font-size: 40px;
}

