:root{
    --global-background-color: #F5F5DC;
    --global-title-color: #D2B48C;
    --jaune-ble:#F5DEB3;
    --light-orange:#FFA500;
    --decalage: 20px;
    --img-margin: calc(var(--decalage)/2);

}

.pProperty {
    font-family: 'Open Sans', sans-serif;
    color: var(--global-title-color);
    font-size: 20px;
}

.textProperty {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color : var(--global-background-color)
}

.title{
    font-family: 'Playfair Display', serif;
    color: var(--global-title-color);
    font-size: 40px;
}

